.MuiCard-root{
    width: 250px;
    border-radius: 5px;
    border: solid 0.5px;
    box-shadow: none;
}
.MuiCardMedia-root{
    height: 150px;
    padding: 30px;
}

.MuiCardMedia-img{
    object-fit: contain;
}

.MuiCardContent-root{
    height: 20px;
    min-height: 0;
    padding: 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.MuiCardActions-root{
    display: flex;
    justify-content: space-between;
}

/* .MuiTypography-root{
    font-size: medium;
    font-weight: bold;
    color: #696969;
} */