@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.home, .report, .report {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;    
}

.MuiSvgIcon-root{
    color: #696969;
}	

.MuiCard-root{
    width: 250px;
    height: 200px;
    border-radius: 5px;
    border: solid 0.5px;
    box-shadow: n
    one;
}
.MuiCardMedia-root{
    height: 150px;
}

.MuiCardActions-root{
    display: flex;
    justify-content: space-between;
}